.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 50px;
        border-radius: 50%;
    }
    p{
        font-size: 0.7rem;
        text-align: center;
    }
}